@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hide{
    display: none;
}
:root{
    --color-primary:#f476ff;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-dark:#363949;
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;

    --card-border-radius:2rem;
    --border-radius-1:0.5rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem;

    --card-padding:1.8rem;
    --padding-1:1.2rem;

    --box-shadow:0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    bottom: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

.profile-pic{
    width: 15rem;
    height: 15rem;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}

.container{
    width: 100% ;
    margin: 0 auto;
    display: grid;
    /* background: red; */
    /* gap: 1.8rem; */
    grid-template-columns: 18rem auto; 
    /* position: relative;
    display: flex; */
    /* justify-content: left; */
    
}
a{
    color: var(--color-dark);
}
img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.1rem;
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}


.text-muted{
    color: var(--color-info-dark);
}
p{
    color: var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}
.primary{
    color:var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.succes{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}


/* ======================Aside============== */
aside{
    height: 100vh;
    /* background: var(--color-white); */
    /* border-right: .5px solid var(--color-primary); */
    /* box-shadow: var(--box-shadow); */
    
    
    
}
aside .top{
    /* background: white; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 1.4rem;
    position: fixed;
    top: 0;
    left: 4rem;
}


aside .top .logo{
    /* margin-right: 2rem; */
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}
.logo h1{
    font-family: 'Tilt Neon', sans-serif;
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    transition: all 0.4s ease;
}
.logo h1 span{
    color: var(--color-primary);
}
.logo h1:hover{
    transform: scale(1.2);
    cursor: pointer;
}
aside .top img{
    width: 2rem;
    height: 2rem;
}

aside .close{
    display: none;
}



/* Sidebar */

aside .sidebar{
    /* background: white; */
    display: flex;
    flex-direction: column;
    position: fixed;
    /* height: 86vh; */
    /* top: 3rem; */
    /* Change height and top to auto to allow dynamic height */
    width: 15rem;
    height: auto;
    top: 5rem;
    left: 2.5;
    margin-left: 2rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: "";
    background: var(--color-primary);
    width: 6px;
    height: 100%;
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}
aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar .message-count{
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}


/* ===========================Main=================== */
main{
    /* position: relative; */
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    /* background: red; */
}
main>h1{
    padding-bottom: 1rem;
    margin-left: 3rem;
}

.sec1{
    height: 60rem;
    margin-right: 5rem;
}
/* --------------------------Profile---------------------- */
.cards{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 70%;
}
.profile{
    background: var(--color-white);
    width: 40%;
    height: 75%;
    margin-left: 1rem;
    margin-top: 3rem;
    padding:var(--card-padding);
    border-radius: var(--border-radius-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.profile-pic{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.profile-pic img{
    height: 90%;
    width: 50%;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    border-bottom: 1px solid var(--color-primary);

}

.name h2{
    font-size: 2.5rem;
    /* padding: .3rem 0 1rem 0; */
}

.basic-info{
    /* height: 50%; */
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;

}
.basic-info div{
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: .5rem;
    gap: .3rem;
    justify-content: start;
    
}

/* --------------------------Profile---------------------- */
.details{
    background: var(--color-white);
    width: 47%;
    height: 75%;
    margin-left: 1rem;
    margin-top: 3rem;
    padding:var(--card-padding);
    border-radius: var(--border-radius-2);
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
    box-shadow: var(--box-shadow);
}
.details h1{
    padding-bottom: 1rem;
}
.details .detl{
    font-size: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
}

.details .detl div{
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: .3rem;
    gap: .3rem;
    justify-content: start;
}

.details .detl div .key{
    font-size: 1.2rem;
    font-weight: 600;
}

.edit-btn{
    margin-top: 2rem ;
}
button{
    padding: .8rem 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    color: var(--color-white);
    background: var(--color-primary);
    box-shadow: 0px .5rem 2rem var(--color-primary);
    font-size: 1rem;
    transition: all 300ms ease;
    color: var(--color-white);
}

button:hover{
    /* box-shadow: none; */
    transform: scale(1.2)
}


/* -------------------Find--------------- */
.find h1{
    padding-bottom: 1rem;
}
.find{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.find button{
    font-size: 2rem;
}


/* ------------------------sec2------------------- */

.sec2 .cards{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}
.match{
    background: var(--color-white);
    width: 23rem;
    height: 30rem;
    margin-left: 1rem;
    margin-top: 3rem;
    padding:var(--card-padding);
    border-radius: var(--border-radius-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.sec2 .cards .match h2{
    font-size: 1.7rem;
}